:root {
  --fleet-text-primary: #090909;
  --fleet-text-secondary: #0000008B;
  --fleet-text-tertiary: #00000073;
  --fleet-text-positive: #1E7857;
  --fleet-text-dangerous: #C72C49;
  --fleet-text-disabled: #00000073;
  --fleet-text-bright: #090909;
  --fleet-text-accent: #1868CB;
  --fleet-text-warning: #916012;
  --fleet-background-primary: #EEEFF0;
  --fleet-background-secondary: #F8F8F9;
  --fleet-taskList-floating-background: #FFFFFF0B;
  --fleet-taskList-floating-border: #0000000C;
  --fleet-background-frostedGlass-tint: #FFFFFF16;
  --fleet-border: #0000002E;
  --fleet-border-focused: #2A7DEB;
  --fleet-focusOutline: #A8C6F4;
  --fleet-focusHint: #0870E41A;
  --fleet-banner-text: #090909;
  --fleet-banner-text-secondary: #000000A0;
  --fleet-banner-background-info: #E9EFFC;
  --fleet-banner-background-dangerous: #FFE9EA;
  --fleet-banner-background-warning: #FCEDDC;
  --fleet-banner-background-positive: #E6F2EA;
  --fleet-banner-border-info: #71A3EF;
  --fleet-banner-border-dangerous: #F87C88;
  --fleet-banner-border-warning: #CD984D;
  --fleet-banner-border-positive: #69B090;
  --fleet-banner-secondary-background-error: #C72C4926;
  --fleet-banner-inline-background: #00000010;
  --fleet-banner-inline-border: #FFFFFF00;
  --fleet-banner-inline-text: #090909;
  --fleet-button-blur-gradient1-default: #00000010;
  --fleet-button-blur-gradient1-hovered: #0870E433;
  --fleet-button-blur-gradient2-default: #00000018;
  --fleet-button-blur-gradient2-hovered: #0870E44D;
  --fleet-button-dangerous-background-default: #D73251;
  --fleet-button-dangerous-background-disabled: #00000010;
  --fleet-button-dangerous-background-hovered: #C72C49;
  --fleet-button-dangerous-background-pressed: #B82D46;
  --fleet-button-dangerous-border-default: #D73251;
  --fleet-button-dangerous-border-disabled: #00000018;
  --fleet-button-dangerous-border-hovered: #C72C49;
  --fleet-button-dangerous-border-pressed: #B82D46;
  --fleet-button-dangerous-focusBorder: #FFFFFF;
  --fleet-button-dangerous-focusOutline: #D73251;
  --fleet-button-dangerous-separator-default: #FFFFFF43;
  --fleet-button-dangerous-separator-disabled: #0000002E;
  --fleet-button-dangerous-split-focusOutline: #F87C88;
  --fleet-button-dangerous-text-default: #FFFFFF;
  --fleet-button-dangerous-text-disabled: #00000073;
  --fleet-button-dangerous-text-hovered: #FFFFFF;
  --fleet-button-dangerous-text-pressed: #FFFFFF;
  --fleet-button-dangerous-text-hint: #FFFFFFB1;
  --fleet-button-positive-background-default: #14835E;
  --fleet-button-positive-background-disabled: #00000010;
  --fleet-button-positive-background-hovered: #1E7857;
  --fleet-button-positive-background-pressed: #216F52;
  --fleet-button-positive-border-default: #14835E;
  --fleet-button-positive-border-disabled: #00000018;
  --fleet-button-positive-border-hovered: #1E7857;
  --fleet-button-positive-border-pressed: #216F52;
  --fleet-button-positive-focusBorder: #FFFFFF;
  --fleet-button-positive-focusOutline: #14835E;
  --fleet-button-positive-separator-default: #FFFFFF43;
  --fleet-button-positive-separator-disabled: #0000002E;
  --fleet-button-positive-split-focusOutline: #69B090;
  --fleet-button-positive-text-default: #FFFFFF;
  --fleet-button-positive-text-disabled: #00000073;
  --fleet-button-positive-text-hovered: #FFFFFF;
  --fleet-button-positive-text-pressed: #FFFFFF;
  --fleet-button-positive-text-hint: #FFFFFFB1;
  --fleet-button-primary-background-default: #0870E4;
  --fleet-button-primary-background-disabled: #00000010;
  --fleet-button-primary-background-hovered: #1868CB;
  --fleet-button-primary-background-pressed: #1D61BA;
  --fleet-button-primary-border-default: #0870E4;
  --fleet-button-primary-border-disabled: #00000018;
  --fleet-button-primary-border-hovered: #1868CB;
  --fleet-button-primary-border-pressed: #1D61BA;
  --fleet-button-primary-focusBorder: #FFFFFF;
  --fleet-button-primary-focusOutline: #0870E4;
  --fleet-button-primary-separator-default: #FFFFFF43;
  --fleet-button-primary-separator-disabled: #0000002E;
  --fleet-button-primary-split-focusOutline: #71A3EF;
  --fleet-button-primary-text-default: #FFFFFF;
  --fleet-button-primary-text-disabled: #00000073;
  --fleet-button-primary-text-hovered: #FFFFFF;
  --fleet-button-primary-text-pressed: #FFFFFF;
  --fleet-button-primary-text-hint: #FFFFFFB1;
  --fleet-button-secondary-background-default: #FFFFFF00;
  --fleet-button-secondary-background-disabled: #00000010;
  --fleet-button-secondary-background-hovered: #00000007;
  --fleet-button-secondary-background-pressed: #00000010;
  --fleet-button-secondary-border-default: #0000002E;
  --fleet-button-secondary-border-disabled: #00000018;
  --fleet-button-secondary-border-hovered: #0000002E;
  --fleet-button-secondary-border-pressed: #0000002E;
  --fleet-button-secondary-focusBorder: #2A7DEB;
  --fleet-button-secondary-focusOutline: #A8C6F4;
  --fleet-button-secondary-separator-default: #0000002E;
  --fleet-button-secondary-separator-disabled: #0000002E;
  --fleet-button-secondary-split-focusOutline: #A8C6F4;
  --fleet-button-secondary-text-default: #090909;
  --fleet-button-secondary-text-disabled: #00000073;
  --fleet-button-secondary-text-hovered: #090909;
  --fleet-button-secondary-text-pressed: #090909;
  --fleet-button-secondary-text-hint: #0000008B;
  --fleet-button-warning-background-default: #9F680C;
  --fleet-button-warning-background-disabled: #00000010;
  --fleet-button-warning-background-hovered: #916012;
  --fleet-button-warning-background-pressed: #865A15;
  --fleet-button-warning-border-default: #9F680C;
  --fleet-button-warning-border-disabled: #00000018;
  --fleet-button-warning-border-hovered: #916012;
  --fleet-button-warning-border-pressed: #865A15;
  --fleet-button-warning-focusBorder: #FFFFFF;
  --fleet-button-warning-focusOutline: #9F680C;
  --fleet-button-warning-separator-default: #FFFFFF43;
  --fleet-button-warning-separator-disabled: #0000002E;
  --fleet-button-warning-split-focusOutline: #CD984D;
  --fleet-button-warning-text-default: #FFFFFF;
  --fleet-button-warning-text-disabled: #00000073;
  --fleet-button-warning-text-hovered: #FFFFFF;
  --fleet-button-warning-text-pressed: #FFFFFF;
  --fleet-button-warning-text-hint: #FFFFFFB1;
  --fleet-button-inverted-background-default: #252629;
  --fleet-button-inverted-background-disabled: #00000010;
  --fleet-button-inverted-background-hovered: #18191B;
  --fleet-button-inverted-background-pressed: #090909;
  --fleet-button-inverted-border-default: #252629;
  --fleet-button-inverted-border-disabled: #00000018;
  --fleet-button-inverted-border-hovered: #18191B;
  --fleet-button-inverted-border-pressed: #090909;
  --fleet-button-inverted-focusBorder: #FFFFFF;
  --fleet-button-inverted-focusOutline: #000000;
  --fleet-button-inverted-separator-default: #FFFFFF43;
  --fleet-button-inverted-separator-disabled: #0000002E;
  --fleet-button-inverted-split-focusOutline: #FFFFFF;
  --fleet-button-inverted-text-default: #FFFFFF;
  --fleet-button-inverted-text-disabled: #00000073;
  --fleet-button-inverted-text-hovered: #FFFFFF;
  --fleet-button-inverted-text-pressed: #FFFFFF;
  --fleet-button-inverted-text-hint: #FFFFFFB1;
  --fleet-chat-messages-floating-bar-border: #EEEFF0;
  --fleet-chat-message-user-background-default: #0000000C;
  --fleet-chat-message-user-background-hovered: #00000010;
  --fleet-chat-message-user-background-edited: #FFFFFF00;
  --fleet-chat-message-user-border-default: #FFFFFF00;
  --fleet-chat-message-user-border-hovered: #FFFFFF00;
  --fleet-chat-message-user-border-edited: #0870E4;
  --fleet-chat-message-ai-background-default: #FFFFFF00;
  --fleet-chat-message-ai-background-hovered: #00000007;
  --fleet-chat-message-ai-border-default: #FFFFFF00;
  --fleet-chat-message-ai-border-hovered: #FFFFFF00;
  --fleet-chat-message-numberedList-tag-background: #00000018;
  --fleet-chat-widget-background-default: #0000000C;
  --fleet-chat-widget-background-hovered: #0000000C;
  --fleet-chat-widget-background-accented: #D6E3F9;
  --fleet-chat-widget-border-default: #0000000C;
  --fleet-chat-widget-border-hovered: #0000000C;
  --fleet-chat-widget-border-accented: #A8C6F4;
  --fleet-checkbox-icon-default: #FFFFFF;
  --fleet-checkbox-icon-disabled: #00000046;
  --fleet-checkbox-text-default: #090909;
  --fleet-checkbox-text-disabled: #00000073;
  --fleet-checkbox-off-background-default: #FFFFFF00;
  --fleet-checkbox-off-background-disabled: #FFFFFF00;
  --fleet-checkbox-off-background-hovered: #FFFFFF00;
  --fleet-checkbox-off-border-default: #00000046;
  --fleet-checkbox-off-border-hovered: #00000046;
  --fleet-checkbox-off-border-disabled: #0000002E;
  --fleet-checkbox-off-focusBorder: #2A7DEB;
  --fleet-checkbox-off-focusOutline: #A8C6F4;
  --fleet-checkbox-on-background-default: #0870E4;
  --fleet-checkbox-on-background-disabled: #00000018;
  --fleet-checkbox-on-background-hovered: #0870E4;
  --fleet-checkbox-on-border-default: #FFFFFF00;
  --fleet-checkbox-on-border-disabled: #00000018;
  --fleet-checkbox-on-border-hovered: #FFFFFF00;
  --fleet-checkbox-on-focusBorder: #FFFFFF;
  --fleet-checkbox-on-focusOutline: #0870E4;
  --fleet-combobox-arrowButton-background-default: #0000000C;
  --fleet-combobox-arrowButton-background-disabled: #FFFFFF00;
  --fleet-combobox-background-default: #FFFFFF00;
  --fleet-combobox-background-disabled: #00000010;
  --fleet-combobox-background-hovered: #FFFFFF00;
  --fleet-combobox-background-error: #FFFFFF00;
  --fleet-combobox-border-default: #0000002E;
  --fleet-combobox-border-disabled: #00000018;
  --fleet-combobox-border-hovered: #0000002E;
  --fleet-combobox-border-error: #E1465E;
  --fleet-combobox-focusBorder-default: #2A7DEB;
  --fleet-combobox-focusBorder-error: #E1465E;
  --fleet-combobox-focusOutline-default: #A8C6F4;
  --fleet-combobox-focusOutline-error: #FFB0B5;
  --fleet-combobox-text-default: #090909;
  --fleet-combobox-text-disabled: #00000073;
  --fleet-combobox-text-hovered: #090909;
  --fleet-combobox-text-error: #090909;
  --fleet-completion-match-background: #FFFFFF00;
  --fleet-completion-match-text: #1D61BA;
  --fleet-diff-file-background: #FFFFFF;
  --fleet-diff-file-border: #0000000C;
  --fleet-diff-file-expanded-background: #00000007;
  --fleet-diff-file-expanded-border: #0000000C;
  --fleet-diff-header-background-default: #FFFFFF00;
  --fleet-diff-header-background-hovered: #00000007;
  --fleet-diff-hiddenLines-border-default: #00000018;
  --fleet-diff-hiddenLines-border-hovered: #0000002E;
  --fleet-dragAndDrop-background: #0870E426;
  --fleet-dragAndDrop-border-default: #0870E440;
  --fleet-dragAndDrop-border-highlight: #2A7DEB;
  --fleet-dropdown-background-default: #0000000C;
  --fleet-dropdown-background-disabled: #FFFFFF00;
  --fleet-dropdown-background-hovered: #0000000C;
  --fleet-dropdown-background-error: #00000010;
  --fleet-dropdown-border-default: #00000010;
  --fleet-dropdown-border-disabled: #00000022;
  --fleet-dropdown-border-hovered: #00000010;
  --fleet-dropdown-border-error: #E1465E;
  --fleet-dropdown-focusBorder-default: #2A7DEB;
  --fleet-dropdown-focusBorder-error: #E1465E;
  --fleet-dropdown-focusOutline-default: #A8C6F4;
  --fleet-dropdown-focusOutline-error: #FFB0B5;
  --fleet-dropdown-text-default: #090909;
  --fleet-dropdown-text-disabled: #00000073;
  --fleet-dropdown-text-hovered: #090909;
  --fleet-dropdown-text-error: #090909;
  --fleet-dropdown-simple-text-default: #0000008B;
  --fleet-dropdown-simple-text-hovered: #0000008B;
  --fleet-dropdown-simple-text-disabled: #00000073;
  --fleet-dropdown-simple-background-hovered: #00000010;
  --fleet-editor-caret-background: #090909;
  --fleet-editor-caret-border: #090909;
  --fleet-caret-background-default: #000000;
  --fleet-caret-background-loading: #0000004C;
  --fleet-caret-background-warning-default: #CD984D;
  --fleet-caret-background-warning-hover: #E5BF8C;
  --fleet-caret-background-error-default: #D73251;
  --fleet-caret-background-error-hover: #EC5D6F;
  --fleet-caret-shadow-default-default: #0870E480;
  --fleet-caret-shadow-default-hover: #0870E466;
  --fleet-caret-shadow-warning-default: #9F680C33;
  --fleet-caret-shadow-warning-hover: #9F680C66;
  --fleet-caret-shadow-error-default: #D7325180;
  --fleet-caret-shadow-error-hover: #D732514D;
  --fleet-editor-currentLine-background-default: #00000018;
  --fleet-editor-currentLine-background-focused: #0870E41A;
  --fleet-editor-currentLine-scrollbarMark: #090909;
  --fleet-editor-foldedMark-background: #00000018;
  --fleet-editor-foldedMark-text: #6E747B;
  --fleet-editor-foldIndicator-background-hovered: #00000010;
  --fleet-editor-foldIndicator-icon-default: #646B71;
  --fleet-editor-foldIndicator-icon-hovered: #646B71;
  --fleet-editor-gitDiff-background-added: #409D78;
  --fleet-editor-gitDiff-background-blame: #BD8128;
  --fleet-editor-gitDiff-background-conflict: #BD8128;
  --fleet-editor-gitDiff-background-deleted: #EC5D6F;
  --fleet-editor-gitDiff-background-modified: #4B8DEC;
  --fleet-editor-gitDiff-text-added: #14835E;
  --fleet-editor-gitDiff-text-conflict: #9F680C;
  --fleet-editor-gitDiff-text-deleted: #D73251;
  --fleet-editor-gitDiff-text-modified: #0870E4;
  --fleet-editor-interline-background: #F8F8F9;
  --fleet-editor-interline-text-default: #00000073;
  --fleet-editor-interline-text-hovered: #1D61BA;
  --fleet-editor-interline-separator: #0000002E;
  --fleet-editor-interline-match-background: #F5DEC2;
  --fleet-editor-interline-match-text: #090909;
  --fleet-editor-interline-match-background-secondary: #FFFE24;
  --fleet-editor-interline-match-text-secondary: #000000;
  --fleet-editor-interline-preview-background: #FFFFFF;
  --fleet-editor-interline-preview-border: #E9EFFC;
  --fleet-editor-lineNumber-current: #090909;
  --fleet-editor-lineNumber-default: #00000073;
  --fleet-editor-renamePostline-background: #FFFFFF;
  --fleet-editor-renamePostline-border: #2A7DEB;
  --fleet-editor-renamePostline-description-text: #090909;
  --fleet-editor-renamePostline-usages-text: #6E747B;
  --fleet-editor-selectableFoldedMark-background-default: #FFFFFF00;
  --fleet-editor-selectableFoldedMark-background-focused: #A8C6F4;
  --fleet-editor-selectableFoldedMark-border-default: #0000002E;
  --fleet-editor-selectableFoldedMark-border-focused: #2A7DEB;
  --fleet-editor-selectableFoldedMark-text-default: #6E747B;
  --fleet-editor-selectableFoldedMark-text-focused: #6E747B;
  --fleet-editor-text: #090909;
  --fleet-editor-whitespaceIndicator: #00000046;
  --fleet-ghostButton-off-background-default: #FFFFFF00;
  --fleet-ghostButton-off-background-disabled: #FFFFFF00;
  --fleet-ghostButton-off-background-hovered: #00000010;
  --fleet-ghostButton-off-background-pressed: #00000018;
  --fleet-ghostButton-off-border-default: #FFFFFF00;
  --fleet-ghostButton-off-border-disabled: #FFFFFF00;
  --fleet-ghostButton-off-border-hovered: #FFFFFF00;
  --fleet-ghostButton-off-border-pressed: #FFFFFF00;
  --fleet-ghostButton-off-focusBorder: #2A7DEB;
  --fleet-ghostButton-off-focusOutline: #FFFFFF00;
  --fleet-ghostButton-off-text-default: #090909;
  --fleet-ghostButton-off-text-disabled: #00000073;
  --fleet-ghostButton-off-text-hovered: #090909;
  --fleet-ghostButton-off-text-pressed: #090909;
  --fleet-ghostButton-on-background-default: #0870E426;
  --fleet-ghostButton-on-background-disabled: #00000018;
  --fleet-ghostButton-on-background-hovered: #0870E433;
  --fleet-ghostButton-on-background-pressed: #0870E44D;
  --fleet-ghostButton-on-border-default: #FFFFFF00;
  --fleet-ghostButton-on-border-disabled: #FFFFFF00;
  --fleet-ghostButton-on-border-hovered: #FFFFFF00;
  --fleet-ghostButton-on-border-pressed: #FFFFFF00;
  --fleet-ghostButton-on-focusBorder: #2A7DEB;
  --fleet-ghostButton-on-focusOutline: #FFFFFF00;
  --fleet-ghostButton-on-text-default: #2A7DEB;
  --fleet-ghostButton-on-text-disabled: #00000073;
  --fleet-ghostButton-on-text-hovered: #2A7DEB;
  --fleet-ghostButton-on-text-pressed: #2A7DEB;
  --fleet-ghostButton-secondary-off-background-default: #FFFFFF00;
  --fleet-ghostButton-secondary-off-background-disabled: #FFFFFF00;
  --fleet-ghostButton-secondary-off-background-hovered: #00000010;
  --fleet-ghostButton-secondary-off-background-pressed: #00000018;
  --fleet-ghostButton-secondary-off-border-default: #FFFFFF00;
  --fleet-ghostButton-secondary-off-border-disabled: #FFFFFF00;
  --fleet-ghostButton-secondary-off-border-hovered: #FFFFFF00;
  --fleet-ghostButton-secondary-off-border-pressed: #FFFFFF00;
  --fleet-ghostButton-secondary-off-focusBorder: #2A7DEB;
  --fleet-ghostButton-secondary-off-focusOutline: #FFFFFF00;
  --fleet-ghostButton-secondary-off-text-default: #0000008B;
  --fleet-ghostButton-secondary-off-text-disabled: #0000008B;
  --fleet-ghostButton-secondary-off-text-hovered: #0000008B;
  --fleet-ghostButton-secondary-off-text-pressed: #0000008B;
  --fleet-gitBranchTag-local-background: #FFFFFF00;
  --fleet-gitBranchTag-local-border: #2A7DEB;
  --fleet-gitBranchTag-local-text: #2A7DEB;
  --fleet-gitBranchTag-remote-background: #FFFFFF00;
  --fleet-gitBranchTag-remote-border: #A660D4;
  --fleet-gitBranchTag-remote-text: #A660D4;
  --fleet-gitBranch-local: #2A7DEB;
  --fleet-gitBranch-remote: #A660D4;
  --fleet-gitBranch-one: #E59408;
  --fleet-gitBranch-two: #169068;
  --fleet-gitBranch-three: #E1465E;
  --fleet-gitBranch-four: #726CF9;
  --fleet-gitBranch-five: #298A99;
  --fleet-gitBranch-six: #C86216;
  --fleet-icon-primary: #090909;
  --fleet-icon-secondary: #0000008B;
  --fleet-icon-background-accent: #2A7DEB;
  --fleet-icon-background-blue: #2A7DEB;
  --fleet-icon-background-green: #169068;
  --fleet-icon-background-yellow: #E59408;
  --fleet-icon-background-red: #E1465E;
  --fleet-icon-background-cyan: #13A4CD;
  --fleet-icon-background-violet: #726CF9;
  --fleet-inputField-background-default: #FFFFFF00;
  --fleet-inputField-background-hovered: #FFFFFF00;
  --fleet-inputField-background-disabled: #00000010;
  --fleet-inputField-background-error: #FFFFFF00;
  --fleet-inputField-border-default: #0000002E;
  --fleet-inputField-border-hovered: #0000002E;
  --fleet-inputField-border-disabled: #00000018;
  --fleet-inputField-border-error: #E1465E;
  --fleet-inputField-caret-default: #090909;
  --fleet-inputField-caret-error: #090909;
  --fleet-inputField-focusBorder-default: #2A7DEB;
  --fleet-inputField-focusBorder-error: #E1465E;
  --fleet-inputField-focusBorder-positive: #169068;
  --fleet-inputField-focusOutline-default: #A8C6F4;
  --fleet-inputField-focusOutline-error: #FFB0B5;
  --fleet-inputField-focusOutline-positive: #A3CEB8;
  --fleet-inputField-hint-default: #6E747B;
  --fleet-inputField-hint-hovered: #6E747B;
  --fleet-inputField-hint-disabled: #898E94;
  --fleet-inputField-hint-error: #6E747B;
  --fleet-inputField-selectionBackground-default: #A8C6F4;
  --fleet-inputField-selectionBackground-error: #A8C6F4;
  --fleet-inputField-text-default: #090909;
  --fleet-inputField-text-hovered: #090909;
  --fleet-inputField-text-disabled: #00000073;
  --fleet-inputField-text-error: #090909;
  --fleet-inputField-ai-focusBorder-default: #2A7DEB;
  --fleet-inputField-ai-focusOutline-default: #A8C6F4;
  --fleet-inputField-ai-background-default: #FFFFFF;
  --fleet-inputField-ai-border-default: #EEEFF0;
  --fleet-island-background: #FFFFFF;
  --fleet-layout-error: #8000FF;
  --fleet-link-focusOutline: #2A7DEB;
  --fleet-link-text-default: #1D61BA;
  --fleet-link-text-disabled: #00000073;
  --fleet-link-text-visited: #8646AE;
  --fleet-link-underline: #1D61BA;
  --fleet-link-ai-focusOutline: #726CF9;
  --fleet-link-ai-text-default: #594CDD;
  --fleet-listItem-background-default: #FFFFFF00;
  --fleet-listItem-background-focused: #0870E433;
  --fleet-listItem-background-hovered: #0000000C;
  --fleet-listItem-background-selected: #00000022;
  --fleet-listItem-background-secondary-default: #0000000C;
  --fleet-listItem-background-secondary-focused: #0870E433;
  --fleet-listItem-background-secondary-hovered: #00000018;
  --fleet-listItem-background-secondary-selected: #00000022;
  --fleet-listItem-border-default: #FFFFFF00;
  --fleet-listItem-border-focused: #FFFFFF00;
  --fleet-listItem-border-hovered: #FFFFFF00;
  --fleet-listItem-border-selected: #FFFFFF00;
  --fleet-listItem-focusBorder: #2A7DEB;
  --fleet-listItem-focusOutline-dragAndDrop: #2A7DEB;
  --fleet-listItem-text-default: #090909;
  --fleet-listItem-text-focused: #090909;
  --fleet-listItem-text-hovered: #090909;
  --fleet-listItem-text-secondary: #0000008B;
  --fleet-listItem-text-selected: #090909;
  --fleet-smartMode-background-enabled: #2A7DEB;
  --fleet-smartMode-background-error: #E1465E;
  --fleet-smartMode-border-loading: #00000046;
  --fleet-notification-background-default: #FFFFFF;
  --fleet-notification-background-unread: #0000000C;
  --fleet-notification-text-primary: #090909;
  --fleet-notification-text-secondary: #0000008B;
  --fleet-notification-separator: #0000002E;
  --fleet-notification-moreButton-background-default: #FFFFFF00;
  --fleet-notification-moreButton-background-hovered: #00000007;
  --fleet-notification-moreButton-background-pressed: #0000000C;
  --fleet-notification-moreButton-border-default: #0000002E;
  --fleet-notification-moreButton-border-hovered: #0000002E;
  --fleet-notification-moreButton-border-pressed: #0000002E;
  --fleet-notification-moreButton-text-default: #090909;
  --fleet-notification-moreButton-text-hovered: #090909;
  --fleet-notification-moreButton-text-pressed: #090909;
  --fleet-parameterInfo-match-text: #1D61BA;
  --fleet-pillButton-background-default: #FFFFFF;
  --fleet-pillButton-background-disabled: #FFFFFF;
  --fleet-pillButton-background-hovered: #F8F8F9;
  --fleet-pillButton-background-pressed: #EEEFF0;
  --fleet-pillButton-border-default: #0000002E;
  --fleet-pillButton-border-disabled: #00000022;
  --fleet-pillButton-border-hovered: #0000002E;
  --fleet-pillButton-border-pressed: #0000002E;
  --fleet-pillButton-focusBorder: #2A7DEB;
  --fleet-pillButton-focusOutline: #A8C6F4;
  --fleet-pillButton-text-default: #0000008B;
  --fleet-pillButton-text-disabled: #00000073;
  --fleet-pillButton-text-hovered: #0000008B;
  --fleet-pillButton-text-pressed: #0000008B;
  --fleet-popup-background: #FFFFFF;
  --fleet-popup-border: #00000022;
  --fleet-popup-text: #090909;
  --fleet-popup-separator: #00000018;
  --fleet-popup-footer-background: #00000010;
  --fleet-popup-footer-text: #0000008B;
  --fleet-popup-closeIcon-default: #00000046;
  --fleet-popup-closeIcon-hovered: #0000008B;
  --fleet-popup-closeIcon-pressed: #000000A0;
  --fleet-popup-editor-background: #FFFFFF;
  --fleet-popup-editor-border: #0000002E;
  --fleet-popup-goto-background: #F8F8F9;
  --fleet-problemsWidget-tag-error-background-default: #D73251;
  --fleet-problemsWidget-tag-error-background-hovered: #C72C49;
  --fleet-problemsWidget-tag-error-background-pressed: #B82D46;
  --fleet-problemsWidget-tag-error-text-default: #FFFFFF;
  --fleet-problemsWidget-tag-error-text-hovered: #FFFFFF;
  --fleet-problemsWidget-tag-error-text-pressed: #FFFFFF;
  --fleet-problemsWidget-tag-warning-background-default: #9F680C;
  --fleet-problemsWidget-tag-warning-background-hovered: #916012;
  --fleet-problemsWidget-tag-warning-background-pressed: #865A15;
  --fleet-problemsWidget-tag-warning-text-default: #FFFFFF;
  --fleet-problemsWidget-tag-warning-text-hovered: #FFFFFF;
  --fleet-problemsWidget-tag-warning-text-pressed: #FFFFFF;
  --fleet-problemsWidget-tag-weakWarning-background-default: #00000022;
  --fleet-problemsWidget-tag-weakWarning-background-hovered: #0000002E;
  --fleet-problemsWidget-tag-weakWarning-background-pressed: #00000046;
  --fleet-problemsWidget-tag-weakWarning-text-default: #090909;
  --fleet-problemsWidget-tag-weakWarning-text-hovered: #090909;
  --fleet-problemsWidget-tag-weakWarning-text-pressed: #090909;
  --fleet-problemsWidget-tag-aiWarning-background-default: #0870E4;
  --fleet-problemsWidget-tag-aiWarning-background-hovered: #1868CB;
  --fleet-problemsWidget-tag-aiWarning-background-pressed: #1D61BA;
  --fleet-problemsWidget-tag-aiWarning-text-default: #FFFFFF;
  --fleet-problemsWidget-tag-aiWarning-text-hovered: #FFFFFF;
  --fleet-problemsWidget-tag-aiWarning-text-pressed: #FFFFFF;
  --fleet-problemsWidget-tag-success-background: #D2E7DB;
  --fleet-problemsWidget-tag-success-foreground: #169068;
  --fleet-problemsWidget-card-text-primary: #090909;
  --fleet-problemsWidget-card-text-secondary: #0000008B;
  --fleet-problemsWidget-card-expanded-error-border: #F87C88;
  --fleet-problemsWidget-card-expanded-error-background: #FFE9EA;
  --fleet-problemsWidget-card-expanded-warning-border: #CD984D;
  --fleet-problemsWidget-card-expanded-warning-background: #FCEDDC;
  --fleet-problemsWidget-card-expanded-weakWarning-border: #0000002E;
  --fleet-problemsWidget-card-expanded-weakWarning-background: #0000000C;
  --fleet-problemsWidget-card-expanded-aiWarning-border: #71A3EF;
  --fleet-problemsWidget-card-expanded-aiWarning-background: #E9EFFC;
  --fleet-progressSpinner-foreground: #090909;
  --fleet-progressBar-determinate-background: #0870E433;
  --fleet-progressBar-determinate-foreground: #0870E4;
  --fleet-progressBar-determinate-disabled-background: #00000018;
  --fleet-progressBar-determinate-disabled-foreground: #00000073;
  --fleet-progressBar-determinate-dangerous-background: #D7325133;
  --fleet-progressBar-determinate-dangerous-foreground: #D73251;
  --fleet-progressBar-determinate-warning-background: #9F680C33;
  --fleet-progressBar-determinate-warning-foreground: #9F680C;
  --fleet-progressBar-indeterminate-foreground: #0870E4;
  --fleet-progressBar-indeterminate-foregroundAccent: #A8C6F4;
  --fleet-progressInline-foreground: #0870E433;
  --fleet-remote-userColor-background-one: #EA4B67;
  --fleet-remote-userColor-background-two: #F57749;
  --fleet-remote-userColor-background-three: #F8AB17;
  --fleet-remote-userColor-background-four: #82B52A;
  --fleet-remote-userColor-background-five: #3EB289;
  --fleet-remote-userColor-background-six: #3691F9;
  --fleet-remote-userColor-background-seven: #4A5FFF;
  --fleet-remote-userColor-background-eight: #7A5CFF;
  --fleet-remote-userColor-background-nine: #B35DEF;
  --fleet-remote-userColor-background-ten: #E05AD7;
  --fleet-remoteWorkspaceStatusLabel-background-docker: #0870E466;
  --fleet-remoteWorkspaceStatusLabel-background-space: #685AFB66;
  --fleet-remoteWorkspaceStatusLabel-background-ssh: #14835E66;
  --fleet-remoteWorkspaceStatusLabel-background-wsl: #9F680C66;
  --fleet-remoteWorkspaceStatusLabel-text-docker: #000000;
  --fleet-remoteWorkspaceStatusLabel-text-space: #000000;
  --fleet-remoteWorkspaceStatusLabel-text-ssh: #000000;
  --fleet-remoteWorkspaceStatusLabel-text-wsl: #000000;
  --fleet-scrollbar-thumb-default: #0000002E;
  --fleet-scrollbar-thumb-hovered: #0000002E;
  --fleet-scrollbar-thumb-pressed: #00000046;
  --fleet-scrollbar-track-default: #FFFFFF00;
  --fleet-scrollbar-track-hovered: #00000018;
  --fleet-scrollbar-track-pressed: #00000018;
  --fleet-search-match-background: #E5BF8C;
  --fleet-search-match-text: #090909;
  --fleet-search-counter-background: #0000001A;
  --fleet-separator-default: #0000002E;
  --fleet-highlight-resize-border-center-hovered: #0870E44D;
  --fleet-highlight-resize-border-edge-hovered: #FFFFFF00;
  --fleet-highlight-resize-border-center-pressed: #2A7DEB;
  --fleet-highlight-resize-border-edge-pressed: #0870E40D;
  --fleet-settings-modified-indicator: #BD8128;
  --fleet-settings-background-highlighted: #FCEDDC;
  --fleet-settings-license-active-background: #FFFFFF;
  --fleet-settings-license-active-border: #00000022;
  --fleet-settings-license-inactive-background: #FFFFFF;
  --fleet-settings-license-inactive-border: #00000022;
  --fleet-segmentedControl-background: #FFFFFF00;
  --fleet-segmentedControl-border: #00000022;
  --fleet-segmentedControl-button-background-default-default: #FFFFFF00;
  --fleet-segmentedControl-button-background-default-hovered: #FFFFFF00;
  --fleet-segmentedControl-button-background-selected-default: #0870E41A;
  --fleet-segmentedControl-button-background-selected-hovered: #0870E41A;
  --fleet-segmentedControl-button-border-default: #0870E480;
  --fleet-segmentedControl-button-border-hovered: #0870E480;
  --fleet-segmentedControl-button-text-default: #090909;
  --fleet-segmentedControl-button-text-hovered: #090909;
  --fleet-shadow-background-large: #2D2D2D1F;
  --fleet-shadow-background-medium: #2D2D2D1F;
  --fleet-shadow-background-small: #2D2D2D1F;
  --fleet-shadow-border: #2D2D2D33;
  --fleet-shortcut-text: #090909;
  --fleet-shortcut-background: #00000018;
  --fleet-snippet-background-default: #00000007;
  --fleet-snippet-background-positive: #14835E33;
  --fleet-snippet-background-dangerous: #D7325133;
  --fleet-snippet-background-waiting: #0870E433;
  --fleet-snippet-border-default: #0000000C;
  --fleet-snippet-border-positive: #14835E80;
  --fleet-snippet-border-dangerous: #D7325180;
  --fleet-snippet-border-waiting: #0870E480;
  --fleet-snippet-content-background: #FFFFFF;
  --fleet-snippet-content-border-default: #0000000C;
  --fleet-snippet-content-border-positive: #14835E33;
  --fleet-snippet-content-border-dangerous: #D7325133;
  --fleet-snippet-content-border-waiting: #0870E433;
  --fleet-snippetProgress-collapsed-background-default: #FFFFFF00;
  --fleet-snippetProgress-collapsed-background-hovered: #00000010;
  --fleet-snippetProgress-collapsed-background-pressed: #0000000C;
  --fleet-snippetProgress-expanded-background-default: #FFFFFF00;
  --fleet-snippetProgress-expanded-background-hovered: #0000000C;
  --fleet-snippetProgress-expanded-background-pressed: #00000010;
  --fleet-snippetProgress-focusBorder: #0870E4;
  --fleet-snippetProgress-focusOutline: #A8C6F4;
  --fleet-snippetProgress-content-background: #FFFFFF;
  --fleet-snippetProgress-content-border: #EEEFF0;
  --fleet-statusBar-text-default: #0000008B;
  --fleet-statusBar-text-hovered: #0000008B;
  --fleet-statusBar-text-pressed: #0000008B;
  --fleet-survey-button-background-default: #FFFFFFBF;
  --fleet-survey-button-background-hovered: #0870E4;
  --fleet-survey-button-border-default: #0000002E;
  --fleet-survey-button-border-hovered: #0000002E;
  --fleet-survey-button-focusBorder: #2A7DEB;
  --fleet-survey-button-focusOutline: #A8C6F4;
  --fleet-survey-button-text-default: #090909;
  --fleet-survey-button-text-hovered: #FFFFFF;
  --fleet-scrollToBottom-gradient1-default: #0870E426;
  --fleet-scrollToBottom-gradient1-hovered: #0870E433;
  --fleet-scrollToBottom-gradient2-default: #0870E433;
  --fleet-scrollToBottom-gradient2-hovered: #0870E44D;
  --fleet-tab-background-default: #FFFFFF00;
  --fleet-tab-background-hovered: #00000010;
  --fleet-tab-background-selected: #0000000C;
  --fleet-tab-background-selectedFocused: #0870E41A;
  --fleet-tab-border-default: #FFFFFF00;
  --fleet-tab-border-hovered: #FFFFFF00;
  --fleet-tab-border-selected: #00000010;
  --fleet-tab-border-selectedFocused: #0870E480;
  --fleet-tab-focusOutline-dragAndDrop: #2A7DEB;
  --fleet-tab-text-default: #090909;
  --fleet-tab-text-hovered: #090909;
  --fleet-tab-text-selected: #090909;
  --fleet-tab-text-selectedFocused: #090909;
  --fleet-tab-closeIcon-default: #00000046;
  --fleet-tab-closeIcon-hovered: #0000008B;
  --fleet-tab-closeIcon-pressed: #000000A0;
  --fleet-tab-hint-default: #00000073;
  --fleet-tab-hint-hovered: #0000008B;
  --fleet-tab-hint-selected: #0000008B;
  --fleet-tag-default-text: #3E4147;
  --fleet-tag-default-background: #00000010;
  --fleet-tag-default-border: #00000018;
  --fleet-tag-default-hint: #4C5157;
  --fleet-tag-secondary-text: #0000008B;
  --fleet-tag-secondary-text-hovered: #090909;
  --fleet-tag-secondary-background: #00000010;
  --fleet-tag-secondary-background-hovered: #00000018;
  --fleet-tag-secondary-border: #FFFFFF00;
  --fleet-tag-secondary-border-hovered: #FFFFFF00;
  --fleet-tag-secondary-hint: #4C5157;
  --fleet-tag-accent-text: #224271;
  --fleet-tag-accent-background: #0870E426;
  --fleet-tag-accent-border: #0870E433;
  --fleet-tag-accent-hint: #225090;
  --fleet-tag-blue-text: #224271;
  --fleet-tag-blue-background: #0870E426;
  --fleet-tag-blue-border: #0870E433;
  --fleet-tag-blue-hint: #225090;
  --fleet-tag-green-text: #234939;
  --fleet-tag-green-background: #14835E26;
  --fleet-tag-green-border: #14835E33;
  --fleet-tag-green-hint: #255A44;
  --fleet-tag-red-text: #742831;
  --fleet-tag-red-background: #D7325126;
  --fleet-tag-red-border: #D7325133;
  --fleet-tag-red-hint: #922C3B;
  --fleet-tag-yellow-text: #573D18;
  --fleet-tag-yellow-background: #9F680C26;
  --fleet-tag-yellow-border: #9F680C33;
  --fleet-tag-yellow-hint: #6C4B18;
  --fleet-tag-violet-text: #3A3982;
  --fleet-tag-violet-background: #685AFB26;
  --fleet-tag-violet-border: #685AFB33;
  --fleet-tag-violet-hint: #4843A8;
  --fleet-tag-purple-text: #55346A;
  --fleet-tag-purple-background: #9D4FCF26;
  --fleet-tag-purple-border: #9D4FCF33;
  --fleet-tag-purple-hint: #6A3D88;
  --fleet-tag-teal-text: #1C4248;
  --fleet-tag-teal-background: #097F8E26;
  --fleet-tag-teal-border: #097F8E33;
  --fleet-tag-teal-hint: #1E545C;
  --fleet-tag-orange-text: #5F3513;
  --fleet-tag-orange-background: #BB560426;
  --fleet-tag-orange-border: #BB560433;
  --fleet-tag-orange-hint: #7A4215;
  --fleet-tag-disabled-text: #00000073;
  --fleet-tag-disabled-background: #00000010;
  --fleet-tag-disabled-border: #00000018;
  --fleet-tag-disabled-hint: #00000073;
  --fleet-tag-bright-default-text: #EEEFF0;
  --fleet-tag-bright-default-background: #5D636B;
  --fleet-tag-bright-default-border: #FFFFFF00;
  --fleet-tag-bright-default-hint: #FFFFFFB1;
  --fleet-tag-bright-blue-text: #E9EFFC;
  --fleet-tag-bright-blue-background: #1D61BA;
  --fleet-tag-bright-blue-border: #FFFFFF00;
  --fleet-tag-bright-blue-hint: #FFFFFFB1;
  --fleet-tag-bright-green-text: #E6F2EA;
  --fleet-tag-bright-green-background: #216F52;
  --fleet-tag-bright-green-border: #FFFFFF00;
  --fleet-tag-bright-green-hint: #FFFFFFB1;
  --fleet-tag-bright-red-text: #FFE9EA;
  --fleet-tag-bright-red-background: #B82D46;
  --fleet-tag-bright-red-border: #FFFFFF00;
  --fleet-tag-bright-red-hint: #FFFFFFB1;
  --fleet-tag-bright-yellow-text: #FCEDDC;
  --fleet-tag-bright-yellow-background: #865A15;
  --fleet-tag-bright-yellow-border: #FFFFFF00;
  --fleet-tag-bright-yellow-hint: #FFFFFFB1;
  --fleet-tag-bright-violet-text: #EEEDFD;
  --fleet-tag-bright-violet-background: #594CDD;
  --fleet-tag-bright-violet-border: #FFFFFF00;
  --fleet-tag-bright-violet-hint: #FFFFFFB1;
  --fleet-tag-bright-purple-text: #F6EAF9;
  --fleet-tag-bright-purple-background: #8646AE;
  --fleet-tag-bright-purple-border: #FFFFFF00;
  --fleet-tag-bright-purple-hint: #FFFFFFB1;
  --fleet-tag-bright-teal-text: #E8F0F2;
  --fleet-tag-bright-teal-background: #1F6B77;
  --fleet-tag-bright-teal-border: #FFFFFF00;
  --fleet-tag-bright-teal-hint: #FFFFFFB1;
  --fleet-tag-bright-orange-text: #FFE8D5;
  --fleet-tag-bright-orange-background: #9C4C11;
  --fleet-tag-bright-orange-border: #FFFFFF00;
  --fleet-tag-bright-orange-hint: #FFFFFFB1;
  --fleet-tag-bright-disabled-text: #00000073;
  --fleet-tag-bright-disabled-background: #00000018;
  --fleet-tag-bright-disabled-border: #FFFFFF00;
  --fleet-tag-bright-disabled-hint: #00000073;
  --fleet-tag-state-hovered: #0000000C;
  --fleet-tag-state-pressed: #00000018;
  --fleet-tag-color-default-neutral-background: #EEEFF0;
  --fleet-tag-color-default-neutral-text: #3E4147;
  --fleet-terminal-background: #FFFFFF;
  --fleet-terminal-foreground: #090909;
  --fleet-terminal-background-ansiBlack: #000000;
  --fleet-terminal-background-ansiBlue: #508ED9;
  --fleet-terminal-background-ansiCyan: #84FAFA;
  --fleet-terminal-background-ansiGreen: #7BBA85;
  --fleet-terminal-background-ansiMagenta: #DB75FA;
  --fleet-terminal-background-ansiRed: #CE0505;
  --fleet-terminal-background-ansiWhite: #E5E5E5;
  --fleet-terminal-background-ansiYellow: #FAE387;
  --fleet-terminal-background-ansiBrightBlack: #B7B7B7;
  --fleet-terminal-background-ansiBrightBlue: #54A1FF;
  --fleet-terminal-background-ansiBrightCyan: #35E6E6;
  --fleet-terminal-background-ansiBrightGreen: #3DD456;
  --fleet-terminal-background-ansiBrightMagenta: #B63DDB;
  --fleet-terminal-background-ansiBrightRed: #F06C5D;
  --fleet-terminal-background-ansiBrightWhite: #FFFFFF;
  --fleet-terminal-background-ansiBrightYellow: #DBC051;
  --fleet-terminal-foreground-ansiBlack: #000000;
  --fleet-terminal-foreground-ansiBlue: #1D61BA;
  --fleet-terminal-foreground-ansiCyan: #0A8282;
  --fleet-terminal-foreground-ansiGreen: #4DBB5F;
  --fleet-terminal-foreground-ansiMagenta: #CC37FA;
  --fleet-terminal-foreground-ansiRed: #C72C49;
  --fleet-terminal-foreground-ansiWhite: #292929;
  --fleet-terminal-foreground-ansiYellow: #81712F;
  --fleet-terminal-foreground-ansiBrightBlack: #929292;
  --fleet-terminal-foreground-ansiBrightBlue: #0073FF;
  --fleet-terminal-foreground-ansiBrightCyan: #24E0FF;
  --fleet-terminal-foreground-ansiBrightGreen: #33F253;
  --fleet-terminal-foreground-ansiBrightMagenta: #CC26FF;
  --fleet-terminal-foreground-ansiBrightRed: #FCA4A7;
  --fleet-terminal-foreground-ansiBrightWhite: #FFFFFF;
  --fleet-terminal-foreground-ansiBrightYellow: #B0993C;
  --fleet-tileButton-off-background-default: #FFFFFF00;
  --fleet-tileButton-off-background-disabled: #FFFFFF00;
  --fleet-tileButton-off-background-hovered: #00000007;
  --fleet-tileButton-off-background-pressed: #0000000C;
  --fleet-tileButton-off-border-default: #0000002E;
  --fleet-tileButton-off-border-disabled: #00000022;
  --fleet-tileButton-off-border-hovered: #0000002E;
  --fleet-tileButton-off-border-pressed: #0000002E;
  --fleet-tileButton-off-focusBorder: #2A7DEB;
  --fleet-tileButton-off-focusOutline: #A8C6F4;
  --fleet-tileButton-off-text-default: #090909;
  --fleet-tileButton-off-text-disabled: #00000073;
  --fleet-tileButton-off-text-hovered: #090909;
  --fleet-tileButton-off-text-pressed: #090909;
  --fleet-tileButton-off-text-hint-default: #0000008B;
  --fleet-tileButton-off-text-hint-disabled: #00000073;
  --fleet-tileButton-on-background-default: #0870E40D;
  --fleet-tileButton-on-background-disabled: #00000010;
  --fleet-tileButton-on-background-hovered: #0870E41A;
  --fleet-tileButton-on-background-pressed: #0870E426;
  --fleet-tileButton-on-background-success: #14835E0D;
  --fleet-tileButton-on-border-default: #2A7DEB;
  --fleet-tileButton-on-border-disabled: #00000018;
  --fleet-tileButton-on-border-hovered: #2A7DEB;
  --fleet-tileButton-on-border-pressed: #2A7DEB;
  --fleet-tileButton-on-border-success: #169068;
  --fleet-tileButton-on-focusBorder: #FFFFFF;
  --fleet-tileButton-on-focusOutline: #0870E4;
  --fleet-tileButton-on-text-default: #090909;
  --fleet-tileButton-on-text-disabled: #00000073;
  --fleet-tileButton-on-text-hovered: #090909;
  --fleet-tileButton-on-text-pressed: #090909;
  --fleet-tileButton-on-text-shortcut-default: #0000008B;
  --fleet-tileButton-on-text-shortcut-disabled: #898E94;
  --fleet-toast-background: #0000008B;
  --fleet-toast-border: #FFFFFF00;
  --fleet-toast-text: #FFFFFF;
  --fleet-toggleButton-off-background-default: #FFFFFF00;
  --fleet-toggleButton-off-background-disabled: #FFFFFF00;
  --fleet-toggleButton-off-background-hovered: #0000000C;
  --fleet-toggleButton-off-background-pressed: #00000018;
  --fleet-toggleButton-off-border-default: #0000002E;
  --fleet-toggleButton-off-border-disabled: #00000022;
  --fleet-toggleButton-off-border-hovered: #0000002E;
  --fleet-toggleButton-off-border-pressed: #0000002E;
  --fleet-toggleButton-off-focusBorder: #2A7DEB;
  --fleet-toggleButton-off-focusOutline: #A8C6F4;
  --fleet-toggleButton-off-text-default: #090909;
  --fleet-toggleButton-off-text-disabled: #00000073;
  --fleet-toggleButton-off-text-hovered: #090909;
  --fleet-toggleButton-off-text-pressed: #090909;
  --fleet-toggleButton-off-text-hint: #0000008B;
  --fleet-toggleButton-on-background-default: #0870E4;
  --fleet-toggleButton-on-background-disabled: #00000010;
  --fleet-toggleButton-on-background-hovered: #1868CB;
  --fleet-toggleButton-on-background-pressed: #1D61BA;
  --fleet-toggleButton-on-border-default: #FFFFFF00;
  --fleet-toggleButton-on-border-disabled: #00000018;
  --fleet-toggleButton-on-border-hovered: #FFFFFF00;
  --fleet-toggleButton-on-border-pressed: #FFFFFF00;
  --fleet-toggleButton-on-focusBorder: #FFFFFF;
  --fleet-toggleButton-on-focusOutline: #0870E4;
  --fleet-toggleButton-on-text-default: #FFFFFF;
  --fleet-toggleButton-on-text-disabled: #00000073;
  --fleet-toggleButton-on-text-hovered: #FFFFFF;
  --fleet-toggleButton-on-text-pressed: #FFFFFF;
  --fleet-toggleButton-on-text-hint: #FFFFFFB1;
  --fleet-tooltip-text-primary: #F8F8F9;
  --fleet-tooltip-text-secondary: #FFFFFF9B;
  --fleet-tooltip-text-tertiary: #FFFFFF6F;
  --fleet-tooltip-background: #252629;
  --fleet-tooltip-border: #FFFFFF00;
  --fleet-tooltip-error-text: #FFFFFF;
  --fleet-tooltip-error-background: #D73251;
  --fleet-tooltip-error-border: #FFFFFF00;
  --fleet-tree-focusBorder: #2A7DEB;
  --fleet-tree-compactFolder-selector-default: #090909;
  --fleet-tree-compactFolder-selector-focused: #090909;
  --fleet-tree-compactFolder-separator: #00000073;
  --fleet-ai-attachment-background-default: #D6E3F9;
  --fleet-ai-attachment-background-dangerous: #FFD8DA;
  --fleet-ai-chat-input-background-default: #F8F8F9;
  --fleet-ai-chat-input-border-default: #00000018;
  --fleet-ai-chat-input-border-hovered: #0000002E;
  --fleet-ai-chat-input-border-focused: #2A7DEB;
  --fleet-ai-chat-input-border-progress: #0870E4;
  --fleet-ai-chat-input-agentMode-border-focused: #2A7DEB;
  --fleet-ai-chat-input-agentMode-border-progress: #0870E4;
  --fleet-ai-chat-input-agentMode-focusOutline: #A8C6F4;
  --fleet-ai-editPrediction-popup-background: #0870E40D;
  --fleet-ai-editPrediction-tooltip-background: #0870E41A;
  --fleet-ai-editPrediction-tooltip-border: #0870E433;
  --fleet-ai-chat-code-text: #BD8128;
  --fleet-ai-error-border: #F87C88;
  --fleet-ai-warning-border: #CD984D;
  --fleet-ai-error-background: #FFE9EA;
  --fleet-ai-warning-background: #FCEDDC;
  --fleet-chat-thinkingLevel-low-background-default: #00000018;
  --fleet-chat-thinkingLevel-low-background-hovered: #00000022;
  --fleet-chat-thinkingLevel-low-background-pressed: #0000002E;
  --fleet-chat-thinkingLevel-medium-background-default: #FFFFFF00;
  --fleet-chat-thinkingLevel-medium-background-hovered: #00000007;
  --fleet-chat-thinkingLevel-medium-background-pressed: #00000010;
  --fleet-chat-thinkingLevel-high-background-default: #0870E426;
  --fleet-chat-thinkingLevel-high-background-hovered: #0870E433;
  --fleet-chat-thinkingLevel-high-background-pressed: #0870E440;
  --fleet-chat-thinkingLevel-extraHigh-background-default: #685AFB26;
  --fleet-chat-thinkingLevel-extraHigh-background-hovered: #685AFB33;
  --fleet-chat-thinkingLevel-extraHigh-background-pressed: #685AFB40;
}
