.dark {
  --fleet-text-primary: #E0E1E4;
  --fleet-text-secondary: #FFFFFF85;
  --fleet-text-tertiary: #FFFFFF59;
  --fleet-text-positive: #409D78;
  --fleet-text-dangerous: #EC5D6F;
  --fleet-text-disabled: #FFFFFF59;
  --fleet-text-bright: #FFFFFF;
  --fleet-text-accent: #4B8DEC;
  --fleet-background-primary: #090909;
  --fleet-background-secondary: #252629;
  --fleet-taskList-floating-background: #FFFFFF0B;
  --fleet-taskList-floating-border: #FFFFFF0B;
  --fleet-background-frostedGlass-tint: #FFFFFF00;
  --fleet-border: #FFFFFF21;
  --fleet-border-focused: #2A7DEB;
  --fleet-focusOutline: #224271;
  --fleet-focusHint: #0870E433;
  --fleet-banner-text: #E0E1E4;
  --fleet-banner-text-secondary: #FFFFFFB1;
  --fleet-banner-background-info: #18263C;
  --fleet-banner-background-dangerous: #401A1E;
  --fleet-banner-background-warning: #302412;
  --fleet-banner-background-positive: #182921;
  --fleet-banner-border-info: #225090;
  --fleet-banner-border-dangerous: #922C3B;
  --fleet-banner-border-warning: #6C4B18;
  --fleet-banner-border-positive: #255A44;
  --fleet-banner-secondary-background-error: #0000008B;
  --fleet-banner-inline-background: #FFFFFF16;
  --fleet-banner-inline-border: #FFFFFF00;
  --fleet-banner-inline-text: #E0E1E4;
  --fleet-button-blur-gradient1-default: #FFFFFF12;
  --fleet-button-blur-gradient1-hovered: #0870E433;
  --fleet-button-blur-gradient2-default: #FFFFFF16;
  --fleet-button-blur-gradient2-hovered: #0870E44D;
  --fleet-button-dangerous-background-default: #D73251;
  --fleet-button-dangerous-background-disabled: #FFFFFF00;
  --fleet-button-dangerous-background-hovered: #C72C49;
  --fleet-button-dangerous-background-pressed: #B82D46;
  --fleet-button-dangerous-border-default: #D73251;
  --fleet-button-dangerous-border-disabled: #FFFFFF1B;
  --fleet-button-dangerous-border-hovered: #C72C49;
  --fleet-button-dangerous-border-pressed: #B82D46;
  --fleet-button-dangerous-focusBorder: #18191B;
  --fleet-button-dangerous-focusOutline: #D73251;
  --fleet-button-dangerous-separator-default: #FFFFFF43;
  --fleet-button-dangerous-separator-disabled: #FFFFFF21;
  --fleet-button-dangerous-split-focusOutline: #F87C88;
  --fleet-button-dangerous-text-default: #FFFFFF;
  --fleet-button-dangerous-text-disabled: #FFFFFF59;
  --fleet-button-dangerous-text-hovered: #FFFFFF;
  --fleet-button-dangerous-text-pressed: #FFFFFF;
  --fleet-button-dangerous-text-hint: #FFFFFFB1;
  --fleet-button-positive-background-default: #14835E;
  --fleet-button-positive-background-disabled: #FFFFFF00;
  --fleet-button-positive-background-hovered: #1E7857;
  --fleet-button-positive-background-pressed: #216F52;
  --fleet-button-positive-border-default: #14835E;
  --fleet-button-positive-border-disabled: #FFFFFF1B;
  --fleet-button-positive-border-hovered: #1E7857;
  --fleet-button-positive-border-pressed: #216F52;
  --fleet-button-positive-focusBorder: #18191B;
  --fleet-button-positive-focusOutline: #14835E;
  --fleet-button-positive-separator-default: #FFFFFF43;
  --fleet-button-positive-separator-disabled: #FFFFFF21;
  --fleet-button-positive-split-focusOutline: #69B090;
  --fleet-button-positive-text-default: #FFFFFF;
  --fleet-button-positive-text-disabled: #FFFFFF59;
  --fleet-button-positive-text-hovered: #FFFFFF;
  --fleet-button-positive-text-pressed: #FFFFFF;
  --fleet-button-positive-text-hint: #FFFFFFB1;
  --fleet-button-primary-background-default: #0870E4;
  --fleet-button-primary-background-disabled: #FFFFFF00;
  --fleet-button-primary-background-hovered: #1868CB;
  --fleet-button-primary-background-pressed: #1D61BA;
  --fleet-button-primary-border-default: #0870E4;
  --fleet-button-primary-border-disabled: #FFFFFF1B;
  --fleet-button-primary-border-hovered: #1868CB;
  --fleet-button-primary-border-pressed: #1D61BA;
  --fleet-button-primary-focusBorder: #18191B;
  --fleet-button-primary-focusOutline: #0870E4;
  --fleet-button-primary-separator-default: #FFFFFF43;
  --fleet-button-primary-separator-disabled: #FFFFFF21;
  --fleet-button-primary-split-focusOutline: #71A3EF;
  --fleet-button-primary-text-default: #FFFFFF;
  --fleet-button-primary-text-disabled: #FFFFFF59;
  --fleet-button-primary-text-hovered: #FFFFFF;
  --fleet-button-primary-text-pressed: #FFFFFF;
  --fleet-button-primary-text-hint: #FFFFFFB1;
  --fleet-button-secondary-background-default: #FFFFFF21;
  --fleet-button-secondary-background-disabled: #FFFFFF00;
  --fleet-button-secondary-background-hovered: #FFFFFF1B;
  --fleet-button-secondary-background-pressed: #FFFFFF16;
  --fleet-button-secondary-border-default: #FFFFFF00;
  --fleet-button-secondary-border-disabled: #FFFFFF1B;
  --fleet-button-secondary-border-hovered: #FFFFFF00;
  --fleet-button-secondary-border-pressed: #FFFFFF00;
  --fleet-button-secondary-focusBorder: #2A7DEB;
  --fleet-button-secondary-focusOutline: #224271;
  --fleet-button-secondary-separator-default: #FFFFFF2C;
  --fleet-button-secondary-separator-disabled: #FFFFFF21;
  --fleet-button-secondary-split-focusOutline: #224271;
  --fleet-button-secondary-text-default: #E0E1E4;
  --fleet-button-secondary-text-disabled: #FFFFFF59;
  --fleet-button-secondary-text-hovered: #E0E1E4;
  --fleet-button-secondary-text-pressed: #E0E1E4;
  --fleet-button-secondary-text-hint: #FFFFFF85;
  --fleet-button-warning-background-default: #9F680C;
  --fleet-button-warning-background-disabled: #FFFFFF00;
  --fleet-button-warning-background-hovered: #916012;
  --fleet-button-warning-background-pressed: #865A15;
  --fleet-button-warning-border-default: #9F680C;
  --fleet-button-warning-border-disabled: #FFFFFF1B;
  --fleet-button-warning-border-hovered: #916012;
  --fleet-button-warning-border-pressed: #865A15;
  --fleet-button-warning-focusBorder: #18191B;
  --fleet-button-warning-focusOutline: #9F680C;
  --fleet-button-warning-separator-default: #FFFFFF43;
  --fleet-button-warning-separator-disabled: #FFFFFF21;
  --fleet-button-warning-split-focusOutline: #CD984D;
  --fleet-button-warning-text-default: #FFFFFF;
  --fleet-button-warning-text-disabled: #FFFFFF59;
  --fleet-button-warning-text-hovered: #FFFFFF;
  --fleet-button-warning-text-pressed: #FFFFFF;
  --fleet-button-warning-text-hint: #FFFFFFB1;
  --fleet-chat-messages-floating-bar-border: #323438;
  --fleet-chat-message-user-background-default: #FFFFFF1B;
  --fleet-chat-message-user-background-hovered: #FFFFFF21;
  --fleet-chat-message-user-background-edited: #FFFFFF00;
  --fleet-chat-message-user-border-default: #FFFFFF00;
  --fleet-chat-message-user-border-hovered: #FFFFFF00;
  --fleet-chat-message-user-border-edited: #0870E4;
  --fleet-chat-message-ai-background-default: #FFFFFF00;
  --fleet-chat-message-ai-background-hovered: #FFFFFF0B;
  --fleet-chat-message-ai-border-default: #FFFFFF00;
  --fleet-chat-message-ai-border-hovered: #FFFFFF00;
  --fleet-chat-message-numberedList-tag-background: #FFFFFF21;
  --fleet-chat-widget-background-default: #FFFFFF16;
  --fleet-chat-widget-background-hovered: #FFFFFF1B;
  --fleet-chat-widget-background-accented: #18263C;
  --fleet-chat-widget-border-default: #FFFFFF00;
  --fleet-chat-widget-border-hovered: #FFFFFF00;
  --fleet-chat-widget-border-accented: #224271;
  --fleet-checkbox-icon-default: #FFFFFF;
  --fleet-checkbox-icon-disabled: #FFFFFF59;
  --fleet-checkbox-text-default: #E0E1E4;
  --fleet-checkbox-text-disabled: #FFFFFF59;
  --fleet-checkbox-off-background-default: #FFFFFF00;
  --fleet-checkbox-off-background-disabled: #FFFFFF00;
  --fleet-checkbox-off-background-hovered: #FFFFFF00;
  --fleet-checkbox-off-border-default: #FFFFFF43;
  --fleet-checkbox-off-border-disabled: #FFFFFF2C;
  --fleet-checkbox-off-border-hovered: #FFFFFF43;
  --fleet-checkbox-off-focusBorder: #2A7DEB;
  --fleet-checkbox-off-focusOutline: #224271;
  --fleet-checkbox-on-background-default: #0870E4;
  --fleet-checkbox-on-background-disabled: #FFFFFF21;
  --fleet-checkbox-on-background-hovered: #0870E4;
  --fleet-checkbox-on-border-default: #FFFFFF00;
  --fleet-checkbox-on-border-hovered: #FFFFFF00;
  --fleet-checkbox-on-border-disabled: #FFFFFF16;
  --fleet-checkbox-on-focusBorder: #18191B;
  --fleet-checkbox-on-focusOutline: #0870E4;
  --fleet-combobox-arrowButton-background-default: #FFFFFF21;
  --fleet-combobox-arrowButton-background-disabled: #FFFFFF00;
  --fleet-combobox-background-default: #FFFFFF00;
  --fleet-combobox-background-disabled: #FFFFFF1B;
  --fleet-combobox-background-hovered: #FFFFFF00;
  --fleet-combobox-background-error: #FFFFFF00;
  --fleet-combobox-border-default: #FFFFFF21;
  --fleet-combobox-border-disabled: #FFFFFF16;
  --fleet-combobox-border-hovered: #FFFFFF21;
  --fleet-combobox-border-error: #E1465E;
  --fleet-combobox-focusBorder-default: #2A7DEB;
  --fleet-combobox-focusBorder-error: #E1465E;
  --fleet-combobox-focusOutline-default: #224271;
  --fleet-combobox-focusOutline-error: #742831;
  --fleet-combobox-text-default: #E0E1E4;
  --fleet-combobox-text-disabled: #FFFFFF59;
  --fleet-combobox-text-hovered: #E0E1E4;
  --fleet-combobox-text-error: #E0E1E4;
  --fleet-completion-match-background: #FFFFFF00;
  --fleet-completion-match-text: #71A3EF;
  --fleet-diff-preview-background: #252629;
  --fleet-diff-preview-border: #FFFFFF1B;
  --fleet-dragAndDrop-background: #0870E426;
  --fleet-dragAndDrop-border-default: #0870E440;
  --fleet-dragAndDrop-border-highlight: #0870E4;
  --fleet-dropdown-background-default: #FFFFFF16;
  --fleet-dropdown-background-disabled: #FFFFFF00;
  --fleet-dropdown-background-hovered: #FFFFFF16;
  --fleet-dropdown-background-error: #FFFFFF16;
  --fleet-dropdown-border-default: #FFFFFF16;
  --fleet-dropdown-border-disabled: #FFFFFF1B;
  --fleet-dropdown-border-hovered: #FFFFFF16;
  --fleet-dropdown-border-error: #E1465E;
  --fleet-dropdown-focusBorder-default: #2A7DEB;
  --fleet-dropdown-focusBorder-error: #E1465E;
  --fleet-dropdown-focusOutline-default: #224271;
  --fleet-dropdown-focusOutline-error: #742831;
  --fleet-dropdown-text-default: #E0E1E4;
  --fleet-dropdown-text-disabled: #FFFFFF59;
  --fleet-dropdown-text-hovered: #E0E1E4;
  --fleet-dropdown-text-error: #E0E1E4;
  --fleet-dropdown-simple-text-default: #FFFFFF85;
  --fleet-dropdown-simple-text-hovered: #FFFFFF85;
  --fleet-dropdown-simple-text-disabled: #FFFFFF59;
  --fleet-dropdown-simple-background-hovered: #FFFFFF12;
  --fleet-editor-caret-background: #E0E1E4;
  --fleet-editor-caret-border: #E0E1E4;
  --fleet-caret-background-default: #FFFFFF;
  --fleet-caret-background-loading: #FFFFFF80;
  --fleet-caret-background-warning-default: #FACB66;
  --fleet-caret-background-warning-hover: #E5BF8C;
  --fleet-caret-background-error-default: #EC5D6F;
  --fleet-caret-background-error-hover: #F87C88;
  --fleet-caret-shadow-default-default: #FFFFFF4C;
  --fleet-caret-shadow-default-hover: #FFFFFF66;
  --fleet-caret-shadow-warning-default: #9F680C33;
  --fleet-caret-shadow-warning-hover: #9F680C80;
  --fleet-caret-shadow-error-default: #D732514D;
  --fleet-caret-shadow-error-hover: #D7325180;
  --fleet-editor-currentLine-background-default: #FFFFFF12;
  --fleet-editor-currentLine-background-focused: #0870E426;
  --fleet-editor-currentLine-scrollbarMark: #E0E1E4;
  --fleet-editor-foldedMark-background: #FFFFFF1B;
  --fleet-editor-foldedMark-text: #898E94;
  --fleet-editor-foldIndicator-background-hovered: #FFFFFF16;
  --fleet-editor-foldIndicator-icon-default: #7A7F86;
  --fleet-editor-foldIndicator-icon-hovered: #7A7F86;
  --fleet-editor-gitDiff-background-added: #14835E;
  --fleet-editor-gitDiff-background-blame: #9F680C;
  --fleet-editor-gitDiff-background-conflict: #9F680C;
  --fleet-editor-gitDiff-background-deleted: #D73251;
  --fleet-editor-gitDiff-background-modified: #0870E4;
  --fleet-editor-gitDiff-text-added: #69B090;
  --fleet-editor-gitDiff-text-conflict: #CD984D;
  --fleet-editor-gitDiff-text-deleted: #F87C88;
  --fleet-editor-gitDiff-text-modified: #71A3EF;
  --fleet-editor-interline-background: #252629;
  --fleet-editor-interline-text-default: #FFFFFF59;
  --fleet-editor-interline-text-hovered: #4B8DEC;
  --fleet-editor-interline-separator: #FFFFFF2C;
  --fleet-editor-interline-match-background: #6C4B18;
  --fleet-editor-interline-match-text: #E0E1E4;
  --fleet-editor-interline-match-background-secondary: #FFFE24;
  --fleet-editor-interline-match-text-secondary: #000000;
  --fleet-editor-interline-preview-background: #18191B;
  --fleet-editor-interline-preview-border: #FFFFFF00;
  --fleet-editor-lineNumber-current: #E0E1E4;
  --fleet-editor-lineNumber-default: #FFFFFF6F;
  --fleet-editor-renamePostline-background: #18263C;
  --fleet-editor-renamePostline-border: #2A7DEB;
  --fleet-editor-renamePostline-description-text: #E0E1E4;
  --fleet-editor-renamePostline-usages-text: #898E94;
  --fleet-editor-selectableFoldedMark-background-default: #FFFFFF00;
  --fleet-editor-selectableFoldedMark-background-focused: #18263C;
  --fleet-editor-selectableFoldedMark-border-default: #3E4147;
  --fleet-editor-selectableFoldedMark-border-focused: #2A7DEB;
  --fleet-editor-selectableFoldedMark-text-default: #898E94;
  --fleet-editor-selectableFoldedMark-text-focused: #898E94;
  --fleet-editor-text: #E0E1E4;
  --fleet-editor-whitespaceIndicator: #FFFFFF43;
  --fleet-ghostButton-off-background-default: #FFFFFF00;
  --fleet-ghostButton-off-background-disabled: #FFFFFF00;
  --fleet-ghostButton-off-background-hovered: #FFFFFF16;
  --fleet-ghostButton-off-background-pressed: #FFFFFF21;
  --fleet-ghostButton-off-border-default: #FFFFFF00;
  --fleet-ghostButton-off-border-disabled: #FFFFFF00;
  --fleet-ghostButton-off-border-hovered: #FFFFFF00;
  --fleet-ghostButton-off-border-pressed: #FFFFFF00;
  --fleet-ghostButton-off-focusBorder: #2A7DEB;
  --fleet-ghostButton-off-focusOutline: #FFFFFF00;
  --fleet-ghostButton-off-text-default: #E0E1E4;
  --fleet-ghostButton-off-text-disabled: #FFFFFF59;
  --fleet-ghostButton-off-text-hovered: #E0E1E4;
  --fleet-ghostButton-off-text-pressed: #E0E1E4;
  --fleet-ghostButton-on-background-default: #0870E466;
  --fleet-ghostButton-on-background-disabled: #FFFFFF1B;
  --fleet-ghostButton-on-background-hovered: #0870E44D;
  --fleet-ghostButton-on-background-pressed: #0870E440;
  --fleet-ghostButton-on-border-default: #FFFFFF00;
  --fleet-ghostButton-on-border-disabled: #FFFFFF00;
  --fleet-ghostButton-on-border-hovered: #FFFFFF00;
  --fleet-ghostButton-on-border-pressed: #FFFFFF00;
  --fleet-ghostButton-on-focusBorder: #71A3EF;
  --fleet-ghostButton-on-focusOutline: #FFFFFF00;
  --fleet-ghostButton-on-text-default: #71A3EF;
  --fleet-ghostButton-on-text-disabled: #FFFFFF59;
  --fleet-ghostButton-on-text-hovered: #71A3EF;
  --fleet-ghostButton-on-text-pressed: #71A3EF;
  --fleet-gitBranchTag-local-background: #FFFFFF00;
  --fleet-gitBranchTag-local-border: #4B8DEC;
  --fleet-gitBranchTag-local-text: #4B8DEC;
  --fleet-gitBranchTag-remote-background: #FFFFFF00;
  --fleet-gitBranchTag-remote-border: #B174D9;
  --fleet-gitBranchTag-remote-text: #B174D9;
  --fleet-icon-primary: #E0E1E4;
  --fleet-icon-secondary: #FFFFFF6F;
  --fleet-icon-background-accent: #2A7DEB;
  --fleet-icon-background-blue: #2A7DEB;
  --fleet-icon-background-green: #169068;
  --fleet-icon-background-yellow: #E59408;
  --fleet-icon-background-red: #E1465E;
  --fleet-icon-background-cyan: #13A4CD;
  --fleet-icon-background-violet: #726CF9;
  --fleet-inputField-background-default: #FFFFFF00;
  --fleet-inputField-background-hovered: #FFFFFF00;
  --fleet-inputField-background-disabled: #FFFFFF1B;
  --fleet-inputField-background-error: #FFFFFF00;
  --fleet-inputField-border-default: #FFFFFF21;
  --fleet-inputField-border-hovered: #FFFFFF21;
  --fleet-inputField-border-disabled: #FFFFFF16;
  --fleet-inputField-border-error: #E1465E;
  --fleet-inputField-caret-default: #E0E1E4;
  --fleet-inputField-caret-error: #E0E1E4;
  --fleet-inputField-focusBorder-default: #2A7DEB;
  --fleet-inputField-focusBorder-error: #E1465E;
  --fleet-inputField-focusBorder-positive: #169068;
  --fleet-inputField-focusOutline-default: #224271;
  --fleet-inputField-focusOutline-error: #742831;
  --fleet-inputField-focusOutline-positive: #234939;
  --fleet-inputField-hint-default: #898E94;
  --fleet-inputField-hint-hovered: #898E94;
  --fleet-inputField-hint-disabled: #646B71;
  --fleet-inputField-hint-error: #898E94;
  --fleet-inputField-selectionBackground-default: #224271;
  --fleet-inputField-selectionBackground-error: #224271;
  --fleet-inputField-text-default: #E0E1E4;
  --fleet-inputField-text-hovered: #E0E1E4;
  --fleet-inputField-text-disabled: #FFFFFF59;
  --fleet-inputField-text-error: #E0E1E4;
  --fleet-inputField-ai-focusBorder-default: #2A7DEB;
  --fleet-inputField-ai-focusOutline-default: #224271;
  --fleet-inputField-ai-background-default: #090909;
  --fleet-inputField-ai-border-default: #090909;
  --fleet-island-background: #18191B;
  --fleet-layout-error: #8000FF;
  --fleet-link-focusOutline: #2A7DEB;
  --fleet-link-text-default: #4B8DEC;
  --fleet-link-text-disabled: #FFFFFF59;
  --fleet-link-text-visited: #B174D9;
  --fleet-link-underline: #4B8DEC;
  --fleet-link-ai-focusOutline: #726CF9;
  --fleet-link-ai-text-default: #7F80F9;
  --fleet-listItem-background-default: #FFFFFF00;
  --fleet-listItem-background-focused: #0870E466;
  --fleet-listItem-background-hovered: #FFFFFF0B;
  --fleet-listItem-background-selected: #FFFFFF21;
  --fleet-listItem-background-secondary-default: #FFFFFF12;
  --fleet-listItem-background-secondary-focused: #0870E466;
  --fleet-listItem-background-secondary-hovered: #FFFFFF1B;
  --fleet-listItem-background-secondary-selected: #FFFFFF21;
  --fleet-listItem-border-default: #FFFFFF00;
  --fleet-listItem-border-focused: #FFFFFF00;
  --fleet-listItem-border-hovered: #FFFFFF00;
  --fleet-listItem-border-selected: #FFFFFF00;
  --fleet-listItem-focusBorder: #2A7DEB;
  --fleet-listItem-focusOutline-dragAndDrop: #2A7DEB;
  --fleet-listItem-text-default: #E0E1E4;
  --fleet-listItem-text-focused: #E0E1E4;
  --fleet-listItem-text-hovered: #E0E1E4;
  --fleet-listItem-text-secondary: #FFFFFF85;
  --fleet-listItem-text-selected: #E0E1E4;
  --fleet-smartMode-background-enabled: #2A7DEB;
  --fleet-smartMode-background-error: #E1465E;
  --fleet-smartMode-border-loading: #0870E440;
  --fleet-scrollToBottom-gradient1-default: #0870E426;
  --fleet-scrollToBottom-gradient1-hovered: #0870E433;
  --fleet-scrollToBottom-gradient2-default: #0870E433;
  --fleet-scrollToBottom-gradient2-hovered: #0870E44D;
  --fleet-notification-background-default: #252629;
  --fleet-notification-background-unread: #FFFFFF0B;
  --fleet-notification-text-primary: #E0E1E4;
  --fleet-notification-text-secondary: #FFFFFF85;
  --fleet-notification-separator: #3E4147;
  --fleet-notification-moreButton-background-default: #FFFFFF00;
  --fleet-notification-moreButton-background-hovered: #FFFFFF0B;
  --fleet-notification-moreButton-background-pressed: #FFFFFF12;
  --fleet-notification-moreButton-border-default: #FFFFFF21;
  --fleet-notification-moreButton-border-hovered: #FFFFFF21;
  --fleet-notification-moreButton-border-pressed: #FFFFFF21;
  --fleet-notification-moreButton-text-default: #E0E1E4;
  --fleet-notification-moreButton-text-hovered: #E0E1E4;
  --fleet-notification-moreButton-text-pressed: #E0E1E4;
  --fleet-parameterInfo-match-text: #71A3EF;
  --fleet-pillButton-background-default: #252629;
  --fleet-pillButton-background-disabled: #252629;
  --fleet-pillButton-background-hovered: #323438;
  --fleet-pillButton-background-pressed: #3E4147;
  --fleet-pillButton-border-default: #FFFFFF21;
  --fleet-pillButton-border-disabled: #FFFFFF16;
  --fleet-pillButton-border-hovered: #FFFFFF21;
  --fleet-pillButton-border-pressed: #FFFFFF21;
  --fleet-pillButton-focusBorder: #2A7DEB;
  --fleet-pillButton-focusOutline: #224271;
  --fleet-pillButton-text-default: #898E94;
  --fleet-pillButton-text-disabled: #FFFFFF59;
  --fleet-pillButton-text-hovered: #898E94;
  --fleet-pillButton-text-pressed: #898E94;
  --fleet-popup-background: #252629;
  --fleet-popup-border: #FFFFFF21;
  --fleet-popup-text: #E0E1E4;
  --fleet-popup-separator: #FFFFFF16;
  --fleet-popup-footer-background: #FFFFFF12;
  --fleet-popup-footer-text: #FFFFFF85;
  --fleet-popup-closeIcon-default: #FFFFFF43;
  --fleet-popup-closeIcon-hovered: #FFFFFF9B;
  --fleet-popup-closeIcon-pressed: #FFFFFFB1;
  --fleet-popup-editor-background: #18191B;
  --fleet-popup-editor-border: #FFFFFF00;
  --fleet-popup-goto-background: #252629;
  --fleet-problemsWidget-tag-error-background-default: #B82D46;
  --fleet-problemsWidget-tag-error-background-hovered: #922C3B;
  --fleet-problemsWidget-tag-error-background-pressed: #742831;
  --fleet-problemsWidget-tag-error-text-default: #FFE9EA;
  --fleet-problemsWidget-tag-error-text-hovered: #FFE9EA;
  --fleet-problemsWidget-tag-error-text-pressed: #FFE9EA;
  --fleet-problemsWidget-tag-warning-background-default: #865A15;
  --fleet-problemsWidget-tag-warning-background-hovered: #6C4B18;
  --fleet-problemsWidget-tag-warning-background-pressed: #573D18;
  --fleet-problemsWidget-tag-warning-text-default: #FCEDDC;
  --fleet-problemsWidget-tag-warning-text-hovered: #FCEDDC;
  --fleet-problemsWidget-tag-warning-text-pressed: #FCEDDC;
  --fleet-problemsWidget-tag-weakWarning-background-default: #3E4147;
  --fleet-problemsWidget-tag-weakWarning-background-hovered: #323438;
  --fleet-problemsWidget-tag-weakWarning-background-pressed: #252629;
  --fleet-problemsWidget-tag-weakWarning-text-default: #E0E1E4;
  --fleet-problemsWidget-tag-weakWarning-text-hovered: #E0E1E4;
  --fleet-problemsWidget-tag-weakWarning-text-pressed: #E0E1E4;
  --fleet-problemsWidget-tag-aiWarning-background-default: #224271;
  --fleet-problemsWidget-tag-aiWarning-background-hovered: #1E3455;
  --fleet-problemsWidget-tag-aiWarning-background-pressed: #18263C;
  --fleet-problemsWidget-tag-aiWarning-text-default: #FCEDDC;
  --fleet-problemsWidget-tag-aiWarning-text-hovered: #FCEDDC;
  --fleet-problemsWidget-tag-aiWarning-text-pressed: #FCEDDC;
  --fleet-problemsWidget-tag-success-background: #1F392D;
  --fleet-problemsWidget-tag-success-foreground: #69B090;
  --fleet-problemsWidget-card-text-primary: #E0E1E4;
  --fleet-problemsWidget-card-text-secondary: #FFFFFF85;
  --fleet-problemsWidget-card-expanded-error-border: #922C3B;
  --fleet-problemsWidget-card-expanded-error-background: #401A1E;
  --fleet-problemsWidget-card-expanded-warning-border: #6C4B18;
  --fleet-problemsWidget-card-expanded-warning-background: #302412;
  --fleet-problemsWidget-card-expanded-weakWarning-border: #FFFFFF2C;
  --fleet-problemsWidget-card-expanded-weakWarning-background: #18191B;
  --fleet-problemsWidget-card-expanded-aiWarning-border: #225090;
  --fleet-problemsWidget-card-expanded-aiWarning-background: #111926;
  --fleet-progressSpinner-foreground: #E0E1E4;
  --fleet-progressBar-determinate-background: #0870E433;
  --fleet-progressBar-determinate-foreground: #0870E4;
  --fleet-progressBar-determinate-disabled-background: #FFFFFF16;
  --fleet-progressBar-determinate-disabled-foreground: #FFFFFF59;
  --fleet-progressBar-indeterminate-foreground: #0870E4;
  --fleet-progressBar-indeterminate-foregroundAccent: #4B8DEC;
  --fleet-progressInline-foreground: #0870E499;
  --fleet-remote-userColor-background-eight: #6D4DFF;
  --fleet-remote-userColor-background-five: #3EA17F;
  --fleet-remote-userColor-background-four: #74A827;
  --fleet-remote-userColor-background-nine: #A842EB;
  --fleet-remote-userColor-background-one: #DB3552;
  --fleet-remote-userColor-background-seven: #3D5BFC;
  --fleet-remote-userColor-background-six: #1A85F6;
  --fleet-remote-userColor-background-ten: #BD40B4;
  --fleet-remote-userColor-background-three: #F8AB17;
  --fleet-remote-userColor-background-two: #E55F2E;
  --fleet-remoteWorkspaceStatusLabel-background-docker: #0870E466;
  --fleet-remoteWorkspaceStatusLabel-background-space: #685AFB66;
  --fleet-remoteWorkspaceStatusLabel-background-ssh: #14835E66;
  --fleet-remoteWorkspaceStatusLabel-background-wsl: #9F680C66;
  --fleet-remoteWorkspaceStatusLabel-text-docker: #FFFFFF;
  --fleet-remoteWorkspaceStatusLabel-text-space: #FFFFFF;
  --fleet-remoteWorkspaceStatusLabel-text-ssh: #FFFFFF;
  --fleet-remoteWorkspaceStatusLabel-text-wsl: #FFFFFF;
  --fleet-scrollbar-thumb-default: #FFFFFF21;
  --fleet-scrollbar-thumb-hovered: #FFFFFF2C;
  --fleet-scrollbar-thumb-pressed: #FFFFFF43;
  --fleet-scrollbar-track-default: #FFFFFF00;
  --fleet-scrollbar-track-hovered: #FFFFFF16;
  --fleet-scrollbar-track-pressed: #FFFFFF16;
  --fleet-search-match-background: #9F680C80;
  --fleet-search-match-text: #E0E1E4;
  --fleet-search-counter-background: #FFFFFF2C;
  --fleet-separator-default: #FFFFFF21;
  --fleet-highlight-resize-border-center-hovered: #0870E44D;
  --fleet-highlight-resize-border-edge-hovered: #090909;
  --fleet-highlight-resize-border-center-pressed: #0870E4;
  --fleet-highlight-resize-border-edge-pressed: #0870E40D;
  --fleet-settings-modified-indicator: #BD8128;
  --fleet-settings-background-highlighted: #9F680C33;
  --fleet-segmentedControl-background: #FFFFFF00;
  --fleet-segmentedControl-border: #FFFFFF21;
  --fleet-segmentedControl-button-background-default-default: #FFFFFF00;
  --fleet-segmentedControl-button-background-default-hovered: #FFFFFF00;
  --fleet-segmentedControl-button-background-selected-default: #0870E440;
  --fleet-segmentedControl-button-background-selected-hovered: #0870E440;
  --fleet-segmentedControl-button-border-default: #0870E480;
  --fleet-segmentedControl-button-border-hovered: #0870E480;
  --fleet-segmentedControl-button-text-default: #E0E1E4;
  --fleet-segmentedControl-button-text-hovered: #E0E1E4;
  --fleet-shadow-background-large: #000000D9;
  --fleet-shadow-background-medium: #000000D9;
  --fleet-shadow-background-small: #00000040;
  --fleet-shadow-border: #000000;
  --fleet-shortcut-text: #E0E1E4;
  --fleet-shortcut-background: #FFFFFF21;
  --fleet-snippet-background-default: #FFFFFF16;
  --fleet-snippet-background-positive: #14835E33;
  --fleet-snippet-background-dangerous: #D7325133;
  --fleet-snippet-background-waiting: #0870E433;
  --fleet-snippet-border-default: #FFFFFF00;
  --fleet-snippet-border-positive: #14835E80;
  --fleet-snippet-border-dangerous: #D7325180;
  --fleet-snippet-border-waiting: #0870E480;
  --fleet-snippet-content-background: #18191B;
  --fleet-snippet-content-border-default: #FFFFFF00;
  --fleet-snippet-content-border-positive: #FFFFFF00;
  --fleet-snippet-content-border-dangerous: #FFFFFF00;
  --fleet-snippet-content-border-waiting: #FFFFFF00;
  --fleet-snippetProgress-collapsed-background-default: #FFFFFF00;
  --fleet-snippetProgress-collapsed-background-hovered: #FFFFFF12;
  --fleet-snippetProgress-collapsed-background-pressed: #FFFFFF0B;
  --fleet-snippetProgress-expanded-background-default: #FFFFFF00;
  --fleet-snippetProgress-expanded-background-hovered: #FFFFFF12;
  --fleet-snippetProgress-expanded-background-pressed: #FFFFFF0B;
  --fleet-snippetProgress-focusBorder: #0870E4;
  --fleet-snippetProgress-focusOutline: #224271;
  --fleet-snippetProgress-content-background: #18191B;
  --fleet-snippetProgress-content-border: #FFFFFF00;
  --fleet-statusBar-text-default: #FFFFFF85;
  --fleet-statusBar-text-hovered: #FFFFFF85;
  --fleet-statusBar-text-pressed: #FFFFFF85;
  --fleet-survey-button-background-default: #FFFFFF21;
  --fleet-survey-button-background-hovered: #0870E4;
  --fleet-survey-button-border-default: #FFFFFF00;
  --fleet-survey-button-border-hovered: #FFFFFF00;
  --fleet-survey-button-focusBorder: #2A7DEB;
  --fleet-survey-button-focusOutline: #224271;
  --fleet-survey-button-text-default: #E0E1E4;
  --fleet-survey-button-text-hovered: #FFFFFF;
  --fleet-tab-background-default: #FFFFFF00;
  --fleet-tab-background-hovered: #FFFFFF12;
  --fleet-tab-background-selected: #FFFFFF12;
  --fleet-tab-background-selectedFocused: #0870E440;
  --fleet-tab-border-default: #FFFFFF00;
  --fleet-tab-border-hovered: #FFFFFF00;
  --fleet-tab-border-selected: #FFFFFF12;
  --fleet-tab-border-selectedFocused: #0870E480;
  --fleet-tab-focusOutline-dragAndDrop: #2A7DEB;
  --fleet-tab-text-default: #E0E1E4;
  --fleet-tab-text-hovered: #E0E1E4;
  --fleet-tab-text-selected: #FFFFFF;
  --fleet-tab-text-selectedFocused: #FFFFFF;
  --fleet-tab-closeIcon-default: #FFFFFF43;
  --fleet-tab-closeIcon-hovered: #FFFFFF9B;
  --fleet-tab-closeIcon-pressed: #FFFFFFB1;
  --fleet-tab-hint-default: #FFFFFF6F;
  --fleet-tab-hint-hovered: #FFFFFF85;
  --fleet-tab-hint-selected: #FFFFFF85;
  --fleet-tag-default-text: #E0E1E4;
  --fleet-tag-default-background: #FFFFFF2C;
  --fleet-tag-default-border: #FFFFFF00;
  --fleet-tag-default-hint: #FFFFFF9B;
  --fleet-tag-secondary-text: #FFFFFF85;
  --fleet-tag-secondary-text-hovered: #E0E1E4;
  --fleet-tag-secondary-background: #FFFFFF16;
  --fleet-tag-secondary-background-hovered: #FFFFFF21;
  --fleet-tag-secondary-border: #FFFFFF00;
  --fleet-tag-secondary-border-hovered: #FFFFFF00;
  --fleet-tag-secondary-hint: #4C5157;
  --fleet-tag-accent-text: #D6E3F9;
  --fleet-tag-accent-background: #0870E480;
  --fleet-tag-accent-border: #FFFFFF00;
  --fleet-tag-accent-hint: #FFFFFF9B;
  --fleet-tag-blue-text: #D6E3F9;
  --fleet-tag-blue-background: #0870E480;
  --fleet-tag-blue-border: #FFFFFF00;
  --fleet-tag-blue-hint: #FFFFFF9B;
  --fleet-tag-green-text: #D2E7DB;
  --fleet-tag-green-background: #14835E80;
  --fleet-tag-green-border: #FFFFFF00;
  --fleet-tag-green-hint: #FFFFFF9B;
  --fleet-tag-red-text: #FFD8DA;
  --fleet-tag-red-background: #D7325180;
  --fleet-tag-red-border: #FFFFFF00;
  --fleet-tag-red-hint: #FFFFFF9B;
  --fleet-tag-yellow-text: #F5DEC2;
  --fleet-tag-yellow-background: #9F680C80;
  --fleet-tag-yellow-border: #FFFFFF00;
  --fleet-tag-yellow-hint: #FFFFFF9B;
  --fleet-tag-violet-text: #DEDFFC;
  --fleet-tag-violet-background: #685AFB66;
  --fleet-tag-violet-border: #FFFFFF00;
  --fleet-tag-violet-hint: #FFFFFF9B;
  --fleet-tag-purple-text: #EDDCF5;
  --fleet-tag-purple-background: #9D4FCF66;
  --fleet-tag-purple-border: #FFFFFF00;
  --fleet-tag-purple-hint: #FFFFFF9B;
  --fleet-tag-disabled-text: #FFFFFF59;
  --fleet-tag-disabled-background: #FFFFFF1B;
  --fleet-tag-disabled-border: #FFFFFF00;
  --fleet-tag-disabled-hint: #FFFFFF59;
  --fleet-tag-bright-default-text: #EEEFF0;
  --fleet-tag-bright-default-background: #4C5157;
  --fleet-tag-bright-default-border: #FFFFFF00;
  --fleet-tag-bright-default-hint: #FFFFFFB1;
  --fleet-tag-bright-blue-text: #E9EFFC;
  --fleet-tag-bright-blue-background: #1D61BA;
  --fleet-tag-bright-blue-border: #FFFFFF00;
  --fleet-tag-bright-blue-hint: #D6E3F9;
  --fleet-tag-bright-green-text: #E6F2EA;
  --fleet-tag-bright-green-background: #216F52;
  --fleet-tag-bright-green-border: #FFFFFF00;
  --fleet-tag-bright-green-hint: #D2E7DB;
  --fleet-tag-bright-red-text: #FFE9EA;
  --fleet-tag-bright-red-background: #B82D46;
  --fleet-tag-bright-red-border: #FFFFFF00;
  --fleet-tag-bright-red-hint: #FFD8DA;
  --fleet-tag-bright-yellow-text: #FCEDDC;
  --fleet-tag-bright-yellow-background: #865A15;
  --fleet-tag-bright-yellow-border: #FFFFFF00;
  --fleet-tag-bright-yellow-hint: #F5DEC2;
  --fleet-tag-bright-violet-text: #EEEDFD;
  --fleet-tag-bright-violet-background: #594CDD;
  --fleet-tag-bright-violet-border: #FFFFFF00;
  --fleet-tag-bright-violet-hint: #DEDFFC;
  --fleet-tag-bright-purple-text: #F6EAF9;
  --fleet-tag-bright-purple-background: #8646AE;
  --fleet-tag-bright-purple-border: #FFFFFF00;
  --fleet-tag-bright-purple-hint: #EDDCF5;
  --fleet-tag-bright-disabled-text: #FFFFFF59;
  --fleet-tag-bright-disabled-background: #FFFFFF21;
  --fleet-tag-bright-disabled-border: #FFFFFF21;
  --fleet-tag-bright-disabled-hint: #FFFFFF59;
  --fleet-tag-state-hovered: #00000022;
  --fleet-tag-state-pressed: #0000002E;
  --fleet-tag-color-default-neutral-background: #3E4147;
  --fleet-tag-color-default-neutral-text: #E0E1E4;
  --fleet-terminal-background: #18191B;
  --fleet-terminal-foreground: #E0E1E4;
  --fleet-terminal-background-ansiBlack: #18191B;
  --fleet-terminal-background-ansiBlue: #405C80;
  --fleet-terminal-background-ansiCyan: #477880;
  --fleet-terminal-background-ansiGreen: #437A6A;
  --fleet-terminal-background-ansiMagenta: #6B5280;
  --fleet-terminal-background-ansiRed: #804A52;
  --fleet-terminal-background-ansiWhite: #898989;
  --fleet-terminal-background-ansiYellow: #80653E;
  --fleet-terminal-background-ansiBrightBlack: #424242;
  --fleet-terminal-background-ansiBrightBlue: #314966;
  --fleet-terminal-background-ansiBrightCyan: #2F5F66;
  --fleet-terminal-background-ansiBrightGreen: #2D6654;
  --fleet-terminal-background-ansiBrightMagenta: #4E3166;
  --fleet-terminal-background-ansiBrightRed: #66333A;
  --fleet-terminal-background-ansiBrightWhite: #18191B;
  --fleet-terminal-background-ansiBrightYellow: #665234;
  --fleet-terminal-foreground-ansiBlack: #E0E1E4;
  --fleet-terminal-foreground-ansiBlue: #4B8DEC;
  --fleet-terminal-foreground-ansiCyan: #2CCCE6;
  --fleet-terminal-foreground-ansiGreen: #82D2CE;
  --fleet-terminal-foreground-ansiMagenta: #EB83E2;
  --fleet-terminal-foreground-ansiRed: #EB4056;
  --fleet-terminal-foreground-ansiWhite: #C3C5C9;
  --fleet-terminal-foreground-ansiYellow: #FAD075;
  --fleet-terminal-foreground-ansiBrightBlack: #595959;
  --fleet-terminal-foreground-ansiBrightBlue: #0067E6;
  --fleet-terminal-foreground-ansiBrightCyan: #00BAD6;
  --fleet-terminal-foreground-ansiBrightGreen: #009E6F;
  --fleet-terminal-foreground-ansiBrightMagenta: #EB4DDE;
  --fleet-terminal-foreground-ansiBrightRed: #C7001B;
  --fleet-terminal-foreground-ansiBrightWhite: #FFFFFF;
  --fleet-terminal-foreground-ansiBrightYellow: #E09119;
  --fleet-tileButton-off-background-default: #FFFFFF1B;
  --fleet-tileButton-off-background-disabled: #FFFFFF00;
  --fleet-tileButton-off-background-hovered: #FFFFFF16;
  --fleet-tileButton-off-background-pressed: #FFFFFF12;
  --fleet-tileButton-off-border-default: #FFFFFF00;
  --fleet-tileButton-off-border-disabled: #FFFFFF1B;
  --fleet-tileButton-off-border-hovered: #FFFFFF00;
  --fleet-tileButton-off-border-pressed: #FFFFFF00;
  --fleet-tileButton-off-focusBorder: #2A7DEB;
  --fleet-tileButton-off-focusOutline: #224271;
  --fleet-tileButton-off-text-default: #E0E1E4;
  --fleet-tileButton-off-text-disabled: #FFFFFF59;
  --fleet-tileButton-off-text-hovered: #E0E1E4;
  --fleet-tileButton-off-text-pressed: #E0E1E4;
  --fleet-tileButton-off-text-hint-default: #FFFFFF85;
  --fleet-tileButton-off-text-hint-disabled: #FFFFFF59;
  --fleet-tileButton-on-background-default: #0870E44D;
  --fleet-tileButton-on-background-disabled: #FFFFFF16;
  --fleet-tileButton-on-background-hovered: #0870E440;
  --fleet-tileButton-on-background-pressed: #0870E433;
  --fleet-tileButton-on-border-default: #2A7DEB;
  --fleet-tileButton-on-border-disabled: #FFFFFF16;
  --fleet-tileButton-on-border-hovered: #2A7DEB;
  --fleet-tileButton-on-border-pressed: #2A7DEB;
  --fleet-tileButton-on-focusBorder: #18191B;
  --fleet-tileButton-on-focusOutline: #0870E4;
  --fleet-tileButton-on-text-default: #E0E1E4;
  --fleet-tileButton-on-text-disabled: #FFFFFF59;
  --fleet-tileButton-on-text-hovered: #E0E1E4;
  --fleet-tileButton-on-text-pressed: #E0E1E4;
  --fleet-tileButton-on-text-shortcut-default: #FFFFFF85;
  --fleet-tileButton-on-text-shortcut-disabled: #646B71;
  --fleet-toast-background: #FFFFFFB1;
  --fleet-toast-border: #FFFFFF00;
  --fleet-toast-text: #090909;
  --fleet-toggleButton-off-background-default: #FFFFFF00;
  --fleet-toggleButton-off-background-disabled: #FFFFFF00;
  --fleet-toggleButton-off-background-hovered: #FFFFFF12;
  --fleet-toggleButton-off-background-pressed: #FFFFFF16;
  --fleet-toggleButton-off-border-default: #FFFFFF21;
  --fleet-toggleButton-off-border-disabled: #FFFFFF1B;
  --fleet-toggleButton-off-border-hovered: #FFFFFF12;
  --fleet-toggleButton-off-border-pressed: #FFFFFF12;
  --fleet-toggleButton-off-focusBorder: #2A7DEB;
  --fleet-toggleButton-off-focusOutline: #224271;
  --fleet-toggleButton-off-text-default: #E0E1E4;
  --fleet-toggleButton-off-text-disabled: #FFFFFF59;
  --fleet-toggleButton-off-text-hovered: #E0E1E4;
  --fleet-toggleButton-off-text-pressed: #E0E1E4;
  --fleet-toggleButton-off-text-hint: #FFFFFF9B;
  --fleet-toggleButton-on-background-default: #0870E4;
  --fleet-toggleButton-on-background-disabled: #FFFFFF1B;
  --fleet-toggleButton-on-background-hovered: #1868CB;
  --fleet-toggleButton-on-background-pressed: #1D61BA;
  --fleet-toggleButton-on-border-default: #FFFFFF00;
  --fleet-toggleButton-on-border-disabled: #FFFFFF16;
  --fleet-toggleButton-on-border-hovered: #FFFFFF00;
  --fleet-toggleButton-on-border-pressed: #FFFFFF00;
  --fleet-toggleButton-on-focusBorder: #18191B;
  --fleet-toggleButton-on-focusOutline: #0870E4;
  --fleet-toggleButton-on-text-default: #FFFFFF;
  --fleet-toggleButton-on-text-disabled: #FFFFFF59;
  --fleet-toggleButton-on-text-hovered: #FFFFFF;
  --fleet-toggleButton-on-text-pressed: #FFFFFF;
  --fleet-toggleButton-on-text-hint: #FFFFFFB1;
  --fleet-toggleButton-task-off-background-default: #FFFFFF00;
  --fleet-toggleButton-task-off-background-disabled: #FFFFFF00;
  --fleet-toggleButton-task-off-background-hovered: #FFFFFF16;
  --fleet-toggleButton-task-off-background-pressed: #FFFFFF21;
  --fleet-toggleButton-task-on-background-default: #685AFB66;
  --fleet-toggleButton-task-on-background-disabled: #FFFFFF1B;
  --fleet-toggleButton-task-on-background-hovered: #685AFB4D;
  --fleet-toggleButton-task-on-background-pressed: #685AFB33;
  --fleet-tooltip-text-primary: #E0E1E4;
  --fleet-tooltip-text-secondary: #FFFFFF85;
  --fleet-tooltip-text-tertiary: #FFFFFF6F;
  --fleet-tooltip-background: #323438;
  --fleet-tooltip-border: #FFFFFF00;
  --fleet-tooltip-error-text: #FFFFFF;
  --fleet-tooltip-error-background: #C72C49;
  --fleet-tooltip-error-border: #FFFFFF00;
  --fleet-tree-focusBorder: #2A7DEB;
  --fleet-tree-compactFolder-selector-default: #E0E1E4;
  --fleet-tree-compactFolder-selector-focused: #E0E1E4;
  --fleet-tree-compactFolder-separator: #FFFFFF6F;
  --fleet-ai-attachment-background-default: #224271;
  --fleet-ai-attachment-background-dangerous: #742831;
  --fleet-ai-chat-input-background-default: #18191B;
  --fleet-ai-chat-input-border-default: #FFFFFF21;
  --fleet-ai-chat-input-border-hovered: #FFFFFF43;
  --fleet-ai-chat-input-border-focused: #2A7DEB;
  --fleet-ai-chat-input-border-progress: #0870E4;
  --fleet-ai-chat-input-agentMode-border-focused: #2A7DEB;
  --fleet-ai-chat-input-agentMode-border-progress: #0870E4;
  --fleet-ai-chat-input-agentMode-focusOutline: #224271;
  --fleet-ai-editPrediction-popup-background: #FFFFFF12;
  --fleet-ai-editPrediction-tooltip-background: #FFFFFF21;
  --fleet-ai-editPrediction-tooltip-border: #FFFFFF21;
  --fleet-ai-error-border: #922C3B;
  --fleet-ai-warning-border: #6C4B18;
  --fleet-ai-error-background: #401A1E;
  --fleet-ai-warning-background: #302412;
  --fleet-ai-icon-background: #2A7DEB;
}
